{% extends "myprofile/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Connections" %}{% endblock %}

{% block content %}
<div class="userpage-right">
<h1>Прикріплені акаунти</h1>

{% if form.accounts %}
<p>Ви можете увійти у свій акаунт, використовуюи будь-який з наступних соцільних акаунтів:</p>


<form method="post" action="{% url 'socialaccount_connections' %}">
{% csrf_token %}

<fieldset>
{% if form.non_field_errors %}
<div id="errorMsg">{{ form.non_field_errors }}</div>
{% endif %}

{% for base_account in form.accounts %}
{% with base_account.get_provider_account as account %}
<div>
<label for="id_account_{{ base_account.id }}">
<input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
<span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}</span>
{{ account }}
</label>
</div>
{% endwith %}
{% endfor %}

<div>
<button type="submit">Видалити</button>
</div>

</fieldset>

</form>

{% else %}
<p>Відсутні акаунти соціальних мереж, прикріплені до цього акаунту</p>
{% endif %}

<h2>Додати зовнішній акаунт</h2>

<ul class="socialaccount_providers">
{% include "socialaccount/snippets/provider_list.html" with process="connect" %}
</ul>

{% include "socialaccount/snippets/login_extra.html" %}
<br>
</div>
{% endblock %}
