{% extends "myprofile/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account" %}{% endblock %}

{% block content %}

<div class="userpage-right">
    <h1>E-mail адреси</h1>
{% if user.emailaddress_set.all %}
<p>Наступні email адреси прікріплено до вашого акаунту: </p>

<form action="{% url 'account_email' %}" class="email_list" method="post">
{% csrf_token %}
<fieldset class="blockLabels">

  {% for emailaddress in user.emailaddress_set.all %}
<div class="ctrlHolder">
      <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

      <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

{{ emailaddress.email }}
    {% if emailaddress.verified %}
    <span class="verified">Підтверджено</span>
    {% else %}
    <span class="unverified">Не підтверджено</span>
    {% endif %}
      {% if emailaddress.primary %}<span class="primary">Основний</span>{% endif %}
</label>
</div>
  {% endfor %}

<div class="buttonHolder">
      <button class="btn-xs secondaryAction" type="submit" name="action_primary" >Зробити основним</button>
      <button class="btn-xs secondaryAction" type="submit" name="action_send" >Надіслати підтвердження повторно</button>
      <button class="btn-xs primaryAction" type="submit" name="action_remove" >Видалити</button>
</div>

</fieldset>
</form>

{% else %}
<p><strong>Увага:</strong>
    Ви ще не встановили email адресу.
    Вам необхідно додати email адресу для того, щоб ви могли отримувати повідомлення, відновлювати пароль і т.д.</p>

{% endif %}


    <h2>Додати email адресу</h2>

    <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        {{ form.as_p}}
        <button name="action_add" type="submit">Додати email</button>
    </form>
</div>
{% endblock %}


{% block extra_body %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
