{% extends "myprofile/base.html" %}

{% load i18n %}

{% block head_title %}Змінити пароль{% endblock %}

{% block content %}
<div class="userpage-right">
    <h1>Змінити пароль</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">Підтвердження</button>
    </form>
    </br>
</div>
{% endblock %}
