{% extends "base.html" %}

{% block content %}
<div class="cart"> 
    {% if cart.status == "OPEN" %}

        {% for band in bands %}
        <div class="element">
            <input class="id" type="hidden" value="{{ band.id }}">
            <a href="{% url "band:details" band.id %}">{{ band }}</a>
            <button id="button-band" type="button" class="remove button-band">
                <span class="glyphicon glyphicon-trash" aria-hidden="true" style="font-size: 24px;"></span>
            </button>
        </div>
        {% endfor %}

        {% for housing in housings %}
        <div class="element">
            <input class="id" type="hidden" value="{{ housing.id }}">
            <a href="{% url "housing:details" housing.id %}">{{ housing }}</a>
            <button id="button-housing" type="button" class="remove button-housing">
                <span class="glyphicon glyphicon-trash" aria-hidden="true" style="font-size: 24px;"></span>
            </button>
        </div>
        {% endfor %}

        <a href="{% url "cart:confirm" cart.id %}">
            <button class="confirm" style="margin-top: 20px; width: 100%; text-align: center;">Підтвердити замовлення</button>
        </a>

        <br><br>
        <span class="main">Сума: $<span id="sum">{{ cart.sum }}</span></span>

    {% elif cart.status == "PROGRESS" %}
        <span class="main"> Ваше замовлення знаходиться у стані обробки </span>
        <span>
            Зачекайте доки з вами зв'яжеться менеджер з продажу та оплатіть
            замовлений товар. Якщо ви хочете відмовитися від зробленого замовлення будь-ласка повідомте про це
            адміністратора, в іншому випадку здійснення покупок на сайті буде неможливе.
        </span>
    {% else %}
        <span class="main"> У вашій корзині ще нема товарів. </span>
        <span> Перейдіть до розділів магазину та оберіть товари для купівлі. </span>
    {% endif %}
</div>
    <script>
        $(".button-band").on("click", function() {
            var node = $(this);
            $.ajax({
                url: "{% url "cart:remove-item" %}",
                method: "POST",
                data: {
                    'id': $(this).parent().children(".id").val(),
                    'type': "band",
                    'cart': {{ cart.id }}
                },
                success:
                        function(data) {
                            $("#sum").html(data.sum);
                            node.parent().remove();
                        },
                error:
                        function(data) {
                            callModal(4);
                            console.log(data);
                        }
            })
        });
        $(".button-housing").on("click", function() {
            var node = $(this);
            $.ajax({
                url: "{% url "cart:remove-item" %}",
                method: "POST",
                data: {
                    'id': $(this).parent().children(".id").val(),
                    'type': "housing",
                    'cart': {{ cart.id }}
                },
                success:
                        function(data) {
                            $("#sum").html(data.sum);
                            node.parent().remove();
                        },
                error:
                        function(data) {
                            callModal(5);
                            console.log(data);
                        }
            })
        })
    </script>
{% endblock %}