{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="details">
        <div class="view">
            <div class="header">
                <img src="{{ band.logo_full|band_logo_or_default }}">
            </div>

            <span class="title">{{ band.name }}</span>
            <span class="description">{{ band.desc }}</span>

            <div class="left">
                <hr>
                <div class="info">
                    <span class="bold">Стиль: </span>
                    <span>{{ band.get_style_display }}</span><br>
                    <span class="bold">Рідне місто: </span>
                    <span>{{ band.city }}</span><br>
                    <span class="bold">Ціна: </span>
                    <span>${{ band.price }}</span><br>
                </div>
                <input class="id" type="hidden" value="{{ band.id }}">
                <button type="button" class="to-cart">Замовити виступ</button>
            </div>

            <div class="right">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ band.youtube }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>


    <script>
        $(".to-cart").on("click", function() {
            var context = $(this).context,
                    btn = $(this),
                    loading = '<i class="fa fa-2x fa-spinner fa-pulse fa-fw"></i>',
                    scs = '<i class="fa fa-2x fa-check" aria-hidden="true"></i>',
                    fail = '<i class="fa fa-times" aria-hidden="true"></i>';
            old_inner = context.innerHTML;
            context.innerHTML = loading;
            $.ajax({
                url: "{% url "band:add-to-cart" %}",
                method: "POST",
                data: {
                    'id': $(this).parent().children(".id").val()
                },
                success:
                        function(data) {
                            context.innerHTML = old_inner +" "+ scs;
                        },
                error:
                        function(data) {
                            console.log(data.responseJSON);
                            if (data.responseJSON.status == "400") {
                                callModal(6);
                                if (!old_inner.contains(scs))
                                    context.innerHTML = old_inner +" "+ scs;
                                else
                                    context.innerHTML = old_inner;
                            } else {
                                callModal(1);
                                if (!old_inner.contains(fail))
                                    context.innerHTML = old_inner +" "+ fail;
                                else
                                    context.innerHTML = old_inner;
                            }
                        }
            })
        })
    </script>
{% endblock %}