{% extends "base.html" %}
{% load staticfiles %}
{% load imagekit %}

{% block content %}

    {% include "search.html" %}

    <div class="band-container">
        {% for band in bands %}
        <a href="{% url "band:details" band.id %}">
            <div class="element">
                <img src="{{ band.logo_listing|band_logo_or_default }}">
                <div class="text-back">
                    <span>{{ band.name }}</span>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    {% include "paginator.html" %}

{% endblock %}