{% extends "myprofile/base.html" %}

{% block content %}
<div class="userpage-right">
    <h1>Мої гурти</h1><br>
    {% include "search.html" %}

    {% for band in bands %}
        <div class="item">
            <input class="id" type="hidden" value="{{ band.id }}">
            <a href="{% url "profile:update_band" band.id %}">{{ band }}</a>
            <button class="remove" type="button">
                <span class="glyphicon glyphicon-trash" aria-hidden="true" style="font-size: 24px;"></span>
            </button>
        </div>
    {% endfor %}

    <a href="{% url "profile:new_band" %}">Додати новий гурт</a>

    {% if bands|length > 0 %}
    {% include "paginator.html" %}
    {% endif %}
</div>
    <script>
        $(".remove").on("click", function() {
            var node = $(this);
            $.ajax({
                url: "{% url "profile:remove-band" %}",
                method: "POST",
                data: {
                    'id': $(this).parent().children(".id").val()
                },
                success:
                        function(data) {
                            node.parent().remove();
                        },
                error:
                        function(data) {
                            callModal(5);
                            console.log(data);
                        }
            })
        })
    </script>
{% endblock %}