{% extends "base.html" %}

{% block page %}
<div class="userpage-left">
    <span class="head">МЕНЮ:</span>
    <a href="{% url "account_change_password" %}">Змінити пароль</a>
    <a href="{% url "account_email" %}">Emails</a>
    <a href="{% url "socialaccount_connections" %}">Соціальні мережі</a>
    <a href="{% url "profile:bands" %}">Мої гурти</a>
    <a href="{% url "profile:housings" %}">Мої концертні зали</a>
    <a href="{% url "profile:orders" %}">Історія замовлень</a>

    {% if request.user.is_staff or request.user.is_superuser %}
        <hr>
        <a href="{% url "profile:admin_order_listing" %}">Адміністрування замовлень</a>
        <a href="{% url "profile:admin_users" %}">Адміністрування користувачів</a>
    {% endif %}
</div>
    {% block content %}
    {% endblock %}
{% endblock %}
