{% extends "myprofile/base.html" %}

{% block content %}

<div class="userpage-right">
    {% with request.user as user %}
        <span class="normal">Привiт,</span> 
       	<span class="bold">{{ user }}</span><br>
       	<span class="normal">{{ user.email }}</span>
    {% endwith %}
</div>
{% endblock %}
