{% extends "myprofile/base.html" %}

{% block content %}
<div class="userpage-right">
	<h1>Історія замовлень</h1><br>
    {% for cart in carts %}
        <a href="{% url "profile:order" cart.id %}">{{ cart }}</a>
    {% endfor %}
    <br>

    {% if carts|length > 0 %}
    {% include "paginator.html" %}
    {% endif %}
</div>
{% endblock %}