{% extends "myprofile/base.html" %}

{% block content %}
<div class="userpage-right">
	<h1>Замовлення №{{ cart.id }} від {{ cart.last_modified|date:"d-M-Y" }}</h1><br>
    {% for band in cart.bands.all %}
        <a href="{% url "band:details" band.id %}">{{ band }}</a>
    {% endfor %}

    {% for housing in cart.housings.all %}
        <a href="{% url "housing:details" housing.id %}">{{ housing }}</a>
    {% endfor %}

    <span class="normal" style="width:100%; text-align:center;">Сума: ${{ cart.sum }}</span>
</div>
{% endblock %}