{% extends "myprofile/base.html" %}

{% block content %}
<div class="userpage-right">
	<center>
	<br><br>
	<span class="bold">
        <p>Замовлення №{{ cart.id }}</p>
        <p>Користувач: {{ cart.user }}</p>
        <p>Статус: {{ cart.get_status_display }}</p>
        <p>Дата: {{ cart.last_modified|date:"d-M-Y" }}</p>
    </span>
    {% for band in cart.bands.all %}
        <a href="{% url "band:details" band.id %}">{{ band }}</a>
    {% endfor %}

    {% for housing in cart.housings.all %}
        <a href="{% url "housing:details" housing.id %}">{{ housing }}</a>
    {% endfor %}
	<br>
	<span class="normal">Сума: ${{ cart.sum }}</span>
	</center>
</div>
{% endblock %}