{% extends "myprofile/base.html" %}

{% block content %}
<div class="userpage-right">
    <h1>Адміністрування замовлень</h1><br>
    {% include "search.html" %}

    <table class="table">
        <thead>
            <tr>
                <th width="5%">№</th>
                <th width="35%">Користувач</th>
                <th width="15%">Статус</th>
                <th width="15%">Дата</th>
                <th width="15%">Операція</th>
            </tr>
        </thead>
        <tbody>
        {% for cart in carts %}
            <tr>
                <td>{{ cart.id }}</td>
                <td>{{ cart.user }}</td>
                <td id= "{{ cart.id }}-status" class="status">{{ cart.get_status_display }}</td>
                <td>{{ cart.last_modified|date:"d-M-Y" }}</td>
                <td>
                    {% if cart.status == "PROGRESS" %}
                        <input type="hidden" class="id" value="{{ cart.id }}">
                        <button style="margin-top: 0; " class="confirm" type="button">Підтвердити</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if carts|length > 0 %}
    {% include "paginator.html" %}
    {% endif %}
</div>

    <script>
        $(".confirm").on("click", function() {
            var node = $(this);
            $.ajax({
                url: "{% url "profile:approve_order" %}",
                method: "POST",
                data: {
                    'id': node.parent().children(".id").val()
                },
                success:
                        function(data) {
                            node.closest("tr").children("td.status").html("Closed");
                            node.parent().children("button").remove();
                       },
                error:
                        function(data) {
                            callModal(2);
                        }
            });
        });

        $('.table').find('tbody').on('click', 'tr', function () {
            order_id = $(this).children()[0].innerHTML;
            window.location.href = "/profile/admin/orders/" + order_id + "/";
        });

        $(document).ready(function() {
            $('tbody tr').hover(
              function() {
                  node = $(this);
                  node.attr("class", node.attr("class") + " enter");
              }, function() {
                        node = $(this);
                        node.attr("class", node.attr("class").replace("enter", ""));
              }
            );
        });

    </script>

{% endblock %}