{% extends "myprofile/base.html" %}

{% block content %}
<div class="userpage-right">
    <h1>Адміністрування користувачів</h1><br>
    {% include "search.html" %}

    <table class="table">
        <thead>
            <tr>
                <th width="5%">№</th>
                <th width="25%">Логін</th>
                <th width="35%">Email</th>
                <th width="35%">Операція</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if not user.is_staff and not user.is_superuser %}
                        <input type="hidden" class="id" value="{{ user.id }}">
                        <button class="btn btn-xs btn-success" type="button">Зробити адміністратором</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if users|length > 0 %}
    {% include "paginator.html" %}
    {% endif %}
</div>

    <script>
        $(".grant").on("click", function() {
            var node = $(this);
            $.ajax({
                url: "{% url "profile:admin_grant_staff" %}",
                method: "POST",
                data: {
                    'id': $(this).parent().children(".id").val()
                },
                success:
                        function(data) {
                            node.parent().children("button").remove();
                       },
                error:
                        function(data) {
                            callModal(3);
                        }
            })
        })
    </script>

{% endblock %}