header {
  width: 100%; 
}

html {
  position: relative;
  min-height: 100%; 
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/raleway-family-v3.0/Raleway-Light.ttf);
}

body {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 60px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

footer {
  width: 100% !important;
  bottom: 0;
  height: 60px;
  color: #FFF;
  clear: both;
  padding: 20px 0;
  text-align: center;
  background: #282828;
  position: fixed;
  z-index: 100;
  transition: all .2s;
}

footer.hide {
  display: block !important;
  margin-bottom: -60px;
}

  .footer a {
    text-decoration: none;
    color: #1DB954;
    font-weight: bold; 
    opacity: .7;
  }

  .footer a:hover {
    opacity: 1;
  }

/***CONTAINER***/
.container.content {
  margin: auto;
  width: 1000px;
}

  .container.content h1 {
    font-size: 28px;
    text-align: center;
    color: #1DB954;
  }

  .container.content p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }

  .container.content a {
    color: #1DB954;
    opacity: .9;
    transition: all, .2s;
  }

  .container.content a:hover {
    color: #1DB954;
    text-decoration: none;
    opacity: 1;
  }

  .container.content .password_reset input#id_email {
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 2px solid #1DB954;
    opacity: .5;
  }

  .container.content .password_reset input#id_email:focus {
    opacity: 1;
  }

  .container.content .socialaccount_ballot {
    text-align: center;
  }

    ul.socialaccount_providers {
      font-size: 20px;
      list-style: none;
      padding-left: 0px;
      text-align: center;
    }

/***NAVBAR***/
.navbar-default {
    background-color: #282828;
    border-radius: 0;
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
  color: #FFF;
  background-color: #282828;
}

  .navbar-default .navbar-nav>li>a {
    color: #FFF;
    opacity: .7;
    font-weight: bold;
  }

  .navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
    opacity: 1;
  }

  .navbar-default .navbar-nav>li>a:focus {
    color: #FFF;
    opacity: 1;
  }

  .navbar-header .navbar-brand {
    color: #fff;
  }

/***ERRORS***/
ul.errorlist {
  list-style: none;
  padding-left: 0;
}

  ul.errorlist li {
    font-size: 14px;
    color: #EB2643;
  }

/***ALERT***/
.alert {
  text-align: center;
  width: 400px;
  margin: auto;
  margin-bottom: 30px;
}

/***FORM***/
form {
  margin: auto;
  text-align: center;
}

  form .form-group{
    margin: auto;
    margin-bottom: 20px;
    width: 400px;
  }

  form .form-group.textinput.textInput.form-control {
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 2px solid #1DB954;
    opacity: .5;
  }

  form .form-group.textinput.textInput.form-control:focus {
    opacity: 1;
  }

  form input[type="text"], input[type="password"], input[type="email"] {
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 2px solid #1DB954;
    opacity: .5;
  }

  form input[type="text"], input[type="password"], input[type="email"]:focus {
    outline: none;
    opacity: 1;
  }

  form .form-group.control-label {
    color: white;
    font-size: 5px;
  }

  form .button.secondaryAction {
    display: block;
    margin-bottom: -10px;
  }

  form .btn-primary {
    border-radius: 20px;
    background-color: #1DB954;
    border-width: 0;
    padding: 10px 40px;
    opacity: .9;
    margin-left: 5px;
    margin-right: 5px;
    transition: all, .2s;
  }

  form .btn-primary:hover {
    transform: scale(1.05, 1.05);
    background-color: #1DB954;
    opacity: 1;
  }

  form .btn-primary:focus{
    outline: none;
  }

  form button{
    border-radius: 20px;
    background-color: #1DB954;
    border-width: 0;
    padding: 10px 40px;
    opacity: .9;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
    transition: all, .2s;
  }

  form button:hover {
    transform: scale(1.05, 1.05);
    background-color: #1DB954;
    opacity: 1;
  }

  form button:focus{
    outline: none;
  }

  form input[type="submit"] {
    border-radius: 20px;
    background-color: #1DB954;
    border-width: 0;
    padding: 10px 40px;
    opacity: .9;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
    transition: all, .2s;
  }

  form input[type="submit"]:hover {
    transform: scale(1.05, 1.05);
    background-color: #1DB954;
    opacity: 1;
  }

  form input[type="submit"]:focus{
    outline: none;
  }

/***MAIN PAGINATION***/
.pagination.pagination-lg {
  color: #FFF;
}

  .pagination li.active a {
    background-color: #282828;
    color: #FFF;
  }

  .pagination li.active a:hover {
    cursor: pointer;
    background-color: #1DB954;
    color: #FFF;
  }

.col-xs-offset-1 {
  margin-left: 0;
  text-align: center;
  width: 100%;
}

/***MAIN CONTAINER***/
.band-container {
  padding-top: 50px;
}
  
  .band-container .header {
    font-size: 16px;
    padding: 10px;
    background-color: #FFF;
    border-bottom: 2px #000 solid;
  }

    .band-container .header a {
      color: #60A8FF;
      text-decoration: none;
      transition: all .25s;
    }

    .band-container .header a:hover {
      opacity: .5;
    }

  .band-container {
    overflow-y: auto;
    height: calc(100% - 110px);
    padding-top: 10px;
  }

    .band-container {
      width: 100%;
    }

      .band-container .element {
        width: 300px;
        height: 300px;
        display: inline-block;
        overflow: hidden;
      }

        .band-container .element img {
          height: 100%;
          -webkit-filter: grayscale(1);
          transition: all .25s;
        }

        .band-container .element img:hover {
          -webkit-filter: grayscale(0);
          transform: scale(1.2, 1.2);
          cursor: pointer;
        }

        .band-container .element .text-back {
          width: 100%;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 5px;
          background-color: rgba(0,0,0,.8);
          position: relative;
          top: -40px;
        }

        .band-container .element .text-back span {
          color: #FFF;
        }


/***HOUSING CONTAINER***/
.housing-container {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

  .housing-container .element {
    width: 100%;
    height: 300px;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 20px;
  }

    .housing-container .element img {
      width: 100%;
      margin-top: -300px;
      -webkit-filter: blur(.5px);
      transition: all .25s;
    }

    .housing-container .element:hover>img {
      -webkit-filter: blur(3px);
      transform: scale(1.1, 1.1);
    }

    .housing-container .element span {
      color: #FFF;
    }

    .housing-container .element .text-back {
      height: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      background-color: rgba(0,0,0,.6);
      position: relative;
      margin-left: 300px;
      z-index: 10;
      color: #FFF;
      font-size: 18px;
      transition: all .25s;
    }

    .housing-container .element .text-back:hover {
      background-color: rgba(0,0,0,.7);
    }

      .housing-container .element .text-back span {
        color: #FFF;
        display: block;
        font-size: 18px;
        margin-top: 5px;
      }

      .housing-container .element .text-back span.description {
        display: block;
        height: 80px;
        color: #CCC;
        font-size: 16px;
        overflow-y: hidden;
        margin-top: 0;
        padding: 10px;
      }

      .housing-container .element .text-back span.head {
        color: #1DB954;
        font-size: 35px;
        transition: all, .2s;
      }

      .housing-container .element .text-back span.head:hover {
        margin-left: 20px;
      }

      .housing-container .element .text-back span.info {
        margin-top: 15px;
        color: #1DB954;
        font-size: 16px;
      }

  .housing-container button{
    border-radius: 20px;
    background-color: #1DB954;
    border-width: 0;
    padding: 7px 40px;
    opacity: .9;
    color: #fff;
    margin-top: -5px;
    margin-right: 40px;
    transition: all, .2s;
    float: right;
  }

  .housing-container button:hover {
    transform: scale(1.1, 1.1);
    background-color: #1DB954;
    opacity: 1;
  }


/***BAND VIEW***/

#map {
  margin-left: 70px;
  width: 480px;
  height: 400px;
}

div.view {
  color: #282828;
}

  div.view .header {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

    div.view .header img {
      width: 100%;
    }

  div.view .left {
    display: inline-block;
    width: 42.5%;
    float: left;
    text-align: center;
  }

  div.view .right {
    display: inline-block;
    width: 57.5%;
    float: right;
    padding-top: 20px;
    margin-bottom: 50px;
  }

  div.view .info {
    text-align: left;
  }

  div.view span {
    display: inline-block;
    font-size: 18px;
    margin: 5px 0;
    color: #282828;
  }

    div.view span.bold {
      font-weight: bold;
      font-size: 22px;
      margin: 5px 0;
      color: #1DB954;
    }

    div.view span.title {
      display: block;
      font-size: 40px;
      margin-top: 20px;
      color: #1DB954;
    }

  div.view span.description {
    display: block;
    font-size: 18px;
    width: 100%;
  }

  div.view button{
    border-radius: 20px;
    background-color: #1DB954;
    border-width: 0;
    padding: 10px 40px;
    opacity: .9;
    color: #fff;
    margin-top: 50px;
    margin-right: 50px;
    transition: all, .2s;
  }

  div.view button:hover {
    transform: scale(1.2, 1.2);
    background-color: #1DB954;
    opacity: 1;
  }

/***CAROUSEL***/
div.carousel.slide {
  margin-bottom: 30px;
}

/***USERPAGE***/
.userpage-left {
  display: inline-block;
  width: 250px;
  padding-top: 50px;
}

  .userpage-left a {
    display: block;
    margin: 0, 5px;
    font-size: 22px;
    transition: all .2s;
  }

    .userpage-left a.selected {
      color: #282828;
    }

    .userpage-left a.selected:hover {
      margin-left: 5px;
    }

  .userpage-left a:hover {
    display: block;
    margin: 0, 5px;
    font-size: 22px;
    margin-left: 10px;
  }

  .userpage-left .head {
    font-size: 30px;
  }

.userpage-right {
  display: inline-block;
  min-height: 400px;
  width: 700px;
  float: right;
  margin-bottom: 30px; 
  position: relative;
  padding-bottom: 90px;
}

  .userpage-right span.row {
    bottom: 0;
    position: absolute;
    width: 100%;
    margin-left: 0px;
  }

  .userpage-right .item {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    color: #282828
  }

    .userpage-right .item a {
      display: inline-block;
      margin-left: 40px;
      color: #282828;
    }

  .userpage-right a {
    display: block;
    text-align: center;
    font-size: 22px;
    margin: auto;
    margin-top: 20px;
  }

  .userpage-right span.normal {
    display: inline-block;
    color: #282828;
    font-size: 28px;
    margin-top: 10px;
  }

  .userpage-right span.bold {
    color: #1DB954;
    font-weight: bold;
    font-size: 28px;
    margin-top: 10px;
  }

  .userpage-right .table tr:hover{
    cursor: pointer;
  }

  .userpage-right .table tr td {
    vertical-align: middle;
  }

button.remove {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: #EF4036;
  border-width: 0;
  opacity: .9;
  color: #fff;
  margin: 5px;
  float: right;
  transition: all, .2s;
}

button.remove:hover {
  transform: scale(1.1, 1.1);
  background-color: #EF4036;
  opacity: 1;
}

button.remove:focus{
  outline: none;
}

.controls a {
  font-size: 14px;
}

  .controls input.clearablefileinput {
    text-align: center;
    margin: auto;
  }


/***CART***/
.cart {
  margin: auto;
  width: 500px;
  text-align: center;
}

  button.confirm {
    border-radius: 20px;
    background-color: #1DB954;
    border-width: 0;
    padding: 10px 40px;
    opacity: .9;
    color: #fff;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    transition: all, .2s;
  }

  button.confirm:hover {
    transform: scale(1.1, 1.1);
    background-color: #EF4036;
    opacity: 1;
  }

  button.confirm:focus{
    outline: none;
  }

  .cart span {
    text-align: center;
    font-size: 20px;
    width: 100%;
  }

  .cart span.main {
    font-size: 25px;
    color: #1DB954;
    font-weight: bold;
    display: block;
    margin-bottom: 14px;
  }

  .cart .element {
    width: 100%;
    height: 70px;
    display: block;
  }

    .cart .element a {
      margin-top: 10px;
      display: inline-block;
      font-size: 25px;
    }

    .cart .element button {
      float: right;
    }


/***CONTACT***/
.contact {
  margin: auto;
  width: 500px;
  text-align: center;
}

  .contact span {
    text-align: center;
    font-size: 20px;
    width: 100%;
  }

  .contact span.main {
    font-size: 25px;
    color: #1DB954;
    font-weight: bold;
    display: block;
    margin-bottom: 14px;
  }

  .contact ul {
    cursor: default;
    list-style: none;
    margin-top: 20px;
    padding-left: 0;
  }

  .contact ul li {
    display: inline-block;
    padding: 0px 15px;
    font-size: 30px;
    transition: all, .2s;
  }

  .contact ul li:hover {
    transform: scale(1.5, 1.5);
  }

    .contact ul li .icon {
      text-decoration: none;
      border-bottom: none;
      position: relative;
    }


/***POPUP***/
div.modal-content {
  border-radius: 0;
}

  div.modal-content .modal-header {
    text-align: center;
  }

    div.modal-content .modal-header h4 {
      color: #1DB954;
      font-size: 25px;
    }

  div.modal-content .modal-body {
    
  }

  div.modal-content .modal-footer {
    text-align: center;
  }

    div.modal-content .modal-footer button{
      border-radius: 20px;
      background-color: #1DB954;
      border-width: 0;
      padding: 10px 40px;
      opacity: .9;
      color: #fff;
      margin-left: 5px;
      margin-right: 5px;
      transition: all, .2s;
    }

    div.modal-content .modal-footer button:hover {
      transform: scale(1.05, 1.05);
      background-color: #1DB954;
      opacity: 1;
    }

    div.modal-content .modal-footer button:focus{
      outline: none;
    }


/***SEARCHBOX***/
form.searchbox {
  margin-bottom: 20px;
}

  form.searchbox input {
    width: 300px;
  }

.enter {
    background-color: #9d9d9d;
}