{% extends "myprofile/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="userpage-right">
    <form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Підтвердити</button>
    </form>
</div>
{% endblock %}