{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="details">
        <div class="view">
            <div class="header">
                <img src="{{ housing.logo_full|housing_logo_or_default }}">
            </div>

            <span class="title">{{ housing.name }}</span>
            <span class="description">{{ housing.desc }}</span>

            <div class="left">
                <hr>
                <div class="info">
                    <span class="bold">Тип приміщення:</span>
                    <span>{{ housing.get_type_display }}</span><br>
                    <span class="bold">Місткість:</span>
                    <span>{{ housing.capacity }}</span><br>
                    <span class="bold">Адреса: </span>
                    <span>{{ housing.address }}</span><br>
                    <span class="bold">Ціна: </span>
                    <span>${{ housing.price }}</span><br>
                </div>
                <input class="id" type="hidden" value="{{ housing.id }}">
                <button type="button" class="to-cart">Арендувати приміщення</button>
            </div>

            <div class="right">
            	<div id="map"></div>
            </div>
        </div>
    </div>


    <script>
        $(".to-cart").on("click", function() {
            var context = $(this).context,
                    btn = $(this),
                    loading = '<i class="fa fa-2x fa-spinner fa-pulse fa-fw"></i>',
                    scs = '<i class="fa fa-check" aria-hidden="true"></i>',
                    fail = '<i class="fa fa-times" aria-hidden="true"></i>';
            old_inner = context.innerHTML;
            context.innerHTML = loading;
            $.ajax({
                url: "{% url "housing:add-to-cart" %}",
                method: "POST",
                data: {
                    'id': $(this).parent().children(".id").val()
                },
                success:
                        function(data) {
                            context.innerHTML = old_inner +" "+ scs;
                        },
                error:
                        function(data) {
                            console.log(data.responseJSON);
                            if (data.responseJSON.status == "400") {
                                callModal(6);
                                if (!old_inner.contains(scs))
                                    context.innerHTML = old_inner +" "+ scs;
                                else
                                    context.innerHTML = old_inner;
                            } else {
                                callModal(1);
                                if (!old_inner.contains(fail))
                                    context.innerHTML = old_inner +" "+ fail;
                                else
                                    context.innerHTML = old_inner;
                            }
                        }
            })
        });

    	function initMap() {
            var mapDiv = document.getElementById('map');
            var location = "{{ housing.location }}";
            var x = parseFloat(location.split(",")[0]);
            var y = parseFloat(location.split(",")[1]);
            var position = {lat: x, lng: y};

            var map = new google.maps.Map(mapDiv, {
                center: position,
                mapMaker: true,
                zoom: 15
            });

            var marker = new google.maps.Marker({
                position: position,
                map: map,
                title: "{{ housing.address }}"
              });

        }
    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt-xUMO_5c5iuxIiNk9sz0cqd7xoP3nZE&callback=initMap">
    </script>
{% endblock %}