{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    {% include "search.html" %}

    <div class="housing-container">
        {% for housing in housings %}
        
       <div class="element item">
           <div class="text-back">
               <a href="{% url "housing:details" housing.id %}">
                   <span class="head">{{ housing.name }}</span>
               </a>
               
               <span class="description">{{ housing.desc|truncatechars:200 }}</span>
               <span>Адреса: {{ housing.address }}</span>
               <span>Місткість: {{ housing.capacity }} чол.</span>
               <span>Тип звукового обладнання: {{ housing.get_equipment_display }}</span>

               <input class="id" type="hidden" value="{{ housing.id }}">
               <button class="to-cart" type="button">
                   <i class="fa fa-2x fa-cart-arrow-down" aria-hidden="true"></i>
               </button>
               <span class="info">Натисність для перегляду детальної інформації...</span>
           </div>
            <img src="{{ housing.logo_full|housing_logo_or_default }}">
       </div>
        
        {% endfor %}
    </div>

    {% include "paginator.html" %}

    <script>
        $(".to-cart").on("click", function() {
            var context = $(this).context,
                    btn = $(this),
                    loading = '<i class="fa fa-2x fa-spinner fa-pulse fa-fw"></i>',
                    scs = '<i class="fa fa-2x fa-check" aria-hidden="true"></i>',
                    fail = '<i class="fa fa-2x fa-times" aria-hidden="true"></i>';
            context.innerHTML = loading;
            $.ajax({
                url: "{% url "housing:add-to-cart" %}",
                method: "POST",
                data: {
                    'id': $(this).parent().children(".id").val()
                },
                success:
                        function(data) {
                            context.innerHTML = scs;
                       },
                error:
                        function(data) {
                            console.log(data.responseJSON);
                            if (data.responseJSON.status == "400") {
                                callModal(6);
                                context.innerHTML = scs;
                            } else {
                                callModal(1);
                                context.innerHTML = fail;
                            }
                        }
            })
        })
    </script>
{% endblock %}