{% load staticfiles %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mycss.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <!--script src="https://use.fontawesome.com/50b3afe434.js"></script-->

{#    <link href="{% static 'img/favicon2.png' %}" rel="shortcut icon"  type="image/png">#}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <title>{% block head_title %}Shop{% endblock %}</title>

    <style>
      {% block style %}
      {% endblock %}
    </style>

  </head>

  <body>

    {% include "navbar.html" %}
    {% include "popup.html" %}

    {% if messages %}

    {% for message in messages %}
      {% if 'success' in message.tags %}
        <div class="alert alert-success fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Успіх!</strong> {{ message }}
        </div>
      {% elif 'info' in message.tags %}
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Інформація!</strong> {{ message }}
        </div>
      {% elif 'warning' in message.tags %}
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Попередження!</strong> {{ message }}
        </div>
      {% elif 'danger' in message.tags %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Помилка!</strong> {{ message }}
        </div>
      {% endif %}
    {% endfor %}

    {% endif %}


    <div class="container content">

        {% block page %}
            {% block content %}
            {% endblock %}
        {% endblock %}


    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/page.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popup-activator.js' %}"  charset="UTF-8"></script>

  </body>
{% include "footer.html" %}
</html>