{% extends "base.html" %}

{% block content %}
<div class="contact">
    <span class="main"> Контакти </span>
    <span>
        <p>За детальною інформацією звертатися на пошту</p>
        <p>ubog291@gmail.com</p>
        <p>або за мобільними телефонами</p>
        <p>+38 (097) 595 78 39</p>
        <p>+38 (093) 920 32 80</p>
        <p>Також можна звернутися на сторінку в соц. мережах:</p>
    </span>
    <ul class="social-section">
    	<li><a href="http://facebook.com/" class="icon fa fa-facebook"></a></li>
		<li><a href="https://new.vk.com/id217289016" class="icon fa fa-vk"></a></li>
		<li><a href="http://plus.google.com/" class="icon fa fa-google-plus"></a></li>
		<li><a href="https://www.youtube.com/" class="icon fa fa-youtube"></a></li>
    </ul>
</div>
{% endblock %}