<footer id="footer" class="footer hide">
  <div class="container">
      <p>
          &copy; 2016 Bodyan
                &nbsp;&nbsp;&nbsp;&nbsp;
          Design by <a href="https://new.vk.com/id217289016">Bogdan Ustyanskiy</a>
      </p>
  </div>
</footer>