{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      {% for band in bands %}
        <li data-target="#myCarousel" data-slide-to="{{ forloop.counter|add:"1" }}"></li>
      {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  	<div class="item active">
        <img src="{{ band_active.logo|band_logo_or_default }}" alt="{{ band_active.name }}">
        <div class="carousel-caption">
            <a href="{% url "band:details" band_active.id %}"><h3>{{ band_active.name }}</h3></a>
        </div>
    </div>

  	{% for band in bands %}
        <div class="item">
            <img src="{{ band.logo|band_logo_or_default }}" alt="{{ band.name }}">
            <div class="carousel-caption">
                <a href="{% url "band:details" band.id %}"><h3>{{ band.name }}</h3></a>
            </div>
        </div>
    {% endfor %}
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Попередня</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Наступна</span>
  </a>
</div>

<div class="view">
	<span class="title">Вітаємо вас на сайті з організації концертів</span>
	<span class="description">
        Ви організатор рок концертів, чи хочете щоб ми організували концерт з вашими улюбленими гуртами
        тоді вам до нас. Наш сервіс допоможе вам організувати концерт, знайти потрібні вам рок гурти
        чи концертні зали.
    </span>
	<a href="/bands/"><span style="font-size: 28px;">Перейти до усіх гуртів</span></a>
	<hr>
	<span>Наші пропозиції по місцях проведення</span><br>
</div>
<div class="housing-container">
    {% for housing in housings %}
    
  <a href="{% url "housing:details" housing.id %}">
	<div class="element item">
	    <input class="id" type="hidden" value="{{ housing.id }}">
	    <div class="text-back">        
          <span class="head">{{ housing.name }}</span>
	        <span class="description">{{ housing.desc|truncatechars:200 }}</span>
	        <span>Адреса: {{ housing.address }}</span>
	        <span>Місткість: {{ housing.capacity }} чол.</span>
	        <span>Тип звукового обладнання: {{ housing.get_equipment_display }}</span>
	        <span class="info">Натиснiть для делальнои iнформацii...</span>
	    </div>
        <img src="{{ housing.logo_full|housing_logo_or_default }}">
	</div>
  </a>
    
    {% endfor %}

    <a href="/housings/"><span style="font-size: 28px;">Перейти до загального списку</span></a>
</div>
<br><br><br>
{% endblock %}