{% load i18n %}
<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Навігаційна панель</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">Shop</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url "band:listing" %}">Гурти</a></li>
        <li><a href="{% url "housing:listing" %}">Примiщення</a></li>
        <li><a href="{% url "contact" %}">Контакти</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url "cart:index" %}">Корзина</a></li>
            <li><a href="{% url "profile:index" %}">{{ request.user.username }}</a></li>
        {% endif %}

        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <li><a href="{% url 'admin:index' %}">{% trans "SuperAdmin" %}</a></li>
            {% endif %}
            <li><a href="{% url 'account_logout' %}"><span class=" glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;{% trans "Logout" %}</a></li>
        {% else %}
            <li><a href="{% url 'account_login' %}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;{% trans "Login" %}</a></li>
        {% endif %}

        </ul>
      </div>
    </div>
</nav>