{% if pages|length > 1 %}
<div class="row">
<div class="col-xs-10 col-xs-offset-1">
     <ul class="pagination  pagination-lg">
        <li>
            {% if request.GET.search %}
                <a href="?search={{ request.GET.search }}&page={{ active_page|add:"-1" }}">
            {% else %}
                <a href="?page={{ active_page|add:"-1" }}">
            {% endif %}
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="font-size: 24px;"></span></a>
        </li>
        {% for i in pages %}
            {% if active_page == i %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
            {% if request.GET.search %}
                <a href="?search={{ request.GET.search }}&page={{ i }}">
            {% else %}
                <a href="?page={{ i }}">
            {% endif %}
            {{ i }}</a>
        {% endfor %}

        <li>
            {% if request.GET.search %}
                <a href="?search={{ request.GET.search }}&page={{ active_page|add:"-1" }}">
            {% else %}
                <a href="?page={{ active_page|add:"1" }}">
            {% endif %}
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="font-size: 24px;"></span></a>
        </li>
    </ul>
    </div>
</div>
{% endif %}